<div class="devise-page change-password">
  <header>
		<img src="/jeans.svg" alt="" class="logo" />
		<h1>TaskFractal</h1>
    <h2>Change password</h2>
  </header>

  <%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "New password, again" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.button class: "submit-button" do %>
        <i data-feather='save'></i>
        Save
      <% end %>
    </div>
  <% end %>

