<div class="devise-page reset-password">
  <header>
		<img src="/jeans.svg" alt="" class="logo" />
		<h1>TaskFractal</h1>
    <h2>Reset password</h2>
  </header>

  <%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
			<%= f.button class: "submit-button" do %>
				<i data-feather='mail'></i>
				Email me a password reset link
			<% end %>
    </div>
  <% end %>
</div>
