<div class="page-log-in">
	<header>
		<img src="/jeans.svg" alt="" class="logo" />
		<h1>TaskFractal</h1>
	</header>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		</div>

		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password, autocomplete: "current-password" %>
		</div>

		<% if devise_mapping.rememberable? %>
			<div class="remember-me field">
				<%= f.check_box :remember_me, {checked: true} %>
				<%= f.label :remember_me %>
			</div>
		<% end %>

		<div class="actions">
			<%= f.button class: "submit-button" do %>
				<i data-feather='key'></i>
				Log in
			<% end %>
			<a href="/" class="button-link"><i data-feather="mail"></i>Reset password</a>
			<a href="/" class="button-link">Cancel</a>
		</div>
	<% end %>
</div>
