<!DOCTYPE html>
<html>
  <head>
    <title>TaskFractal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bundles' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <header>
      <% if signed_in? %>
        <%= link_to "<i data-feather='user'></i>#{current_user.nickname}".html_safe, edit_user_registration_path %>
        <%= link_to "<i data-feather='layout'></i>Theme".html_safe, "/theme"%>
        <%= link_to "<i data-feather='log-out'></i>Sign out".html_safe, destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </header>
    <%= yield %>
    <%= toastr_flash %>
    <% if signed_in? %>
      <script>
      document.body.dataset.theme = "<%= current_user.theme %>";
      </script>
    <% else %>
      <script>
      document.body.dataset.theme = "twilight-sparkle";
      </script>
    <% end %>
  </body>
</html>
